<!DOCTYPE html>
<html>
<head>
    <title>Admin - Lista de Pesquisadores</title>
</head>
<body>
    <h1>Lista de Pesquisadores Cadastrados</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Descrição</th>
        </tr>
        {% for row in dados %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
